.logo2 img {
    padding-top: 30px;
    padding-left: 5px;
    max-width: 95%;
}

.makesColumns {
    columns: 4;
}

.makeColumns {
    columns: 3;
}

.search-top {
    padding-top: 12px;
    padding-left: 90px;
}