<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.js"></script>
<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="theme/EcoAgriculture/js/superfish.js"></script>

<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.spritely-0.6.1.js"></script>

<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.ui.totop.js"></script>

<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.caroufredsel.js"></script>
<script type="text/javascript" src="theme/EcoAgriculture/js/jquery.touchSwipe.min.js"></script>

<!--<script type="text/javascript" src="theme/EcoAgriculture/js/script.js"></script>-->
<script>
    $(document).ready(function () {
        //carufredsel main slider
        $('#caroufredsel_slider1').carouFredSel({
            auto: {
                timeoutDuration: 9000
            },
            responsive: true,
            direction: "left",
            prev: '.prev1',
            next: '.next1',
            width: '100%',
            scroll: {
                items: 1,
                duration: 1000,
                easing: "easeOutExpo",
                fx: "fade"
            },
            items: {
                width: '1000',
                height: 'variable',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 1
                }
            },
            mousewheel: false,
            swipe: {
                onMouse: true,
                onTouch: true
            },
            pagination: ".pagination1"
        });

        //	carouFredSel small
        $('#slider3 .carousel.main ul').carouFredSel({
            auto: {
                timeoutDuration: 8000
            },
            responsive: true,
            prev: '.prev3',
            next: '.next3',
            width: '100%',
            scroll: {
                items: 1,
                duration: 1000,
                easing: "easeOutExpo"
            },
            items: {
                width: '350',
                height: 'variable',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 2
                }
            },
            mousewheel: false,
            swipe: {
                onMouse: true,
                onTouch: true
            }
        });

        $(window).bind("resize", updateSizes_vat).bind("load", updateSizes_vat);
        function updateSizes_vat() {
            $('#caroufredsel_slider1').trigger("updateSizes");
            $('#slider3 .carousel.main ul').trigger("updateSizes");
        }

        updateSizes_vat();

        // carufredsel testimonials
        $('#caroufredsel').carouFredSel({
            auto: {
                timeoutDuration: 9000
            },
            responsive: true,
            direction: "left",
            prev: '.prev_testimonial',
            next: '.next_testimonial',
            width: '100%',
            scroll: {
                items: 1,
                duration: 1000,
                easing: "easeOutExpo",
                fx: "fade"
            },
            items: {
                width: '1000',
                height: 'variable',	//	optionally resize item-height
                visible: {
                    min: 1,
                    max: 1
                }
            },
            mousewheel: false,
            swipe: {
                onMouse: true,
                onTouch: true
            }



        });



    }); //
    $(window).load(function () {
        //

    }); //
</script>

<div id="slider">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="caroufredsel_slider1_wrapper">
                    <ul id="caroufredsel_slider1" class="clearfix">
                        <li>
                            <div class="caroufredsel_slide1 hidden-md hidden-sm hidden-xs" style="height: 581px">
                                <img src="Images/1.jpg" alt="McCormick Tractor">
                                <div class="txt1">
                                    McCormick Tractors International Ltd. is a manufacturer of tractors for agricultural and general use
                                </div>
                                <div class="txt2">
                                    The company was formed in 2000 when Case IH divested assets in order to gain European Union regulatory approval to merge with New Holland Ag.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="caroufredsel_slide1">
                                <img src="Images/2.jpg" alt="Snapper Tractor">
                                <div class="txt1">
                                    Snapper, Inc. was a United States company, formerly based in McDonough, Georgia, that manufactured residential and professional lawn-care and snow-removal equipment
                                </div>
                                <div class="txt2">
                                    Snapper was known for its high-quality red "rear-engine" riding lawnmowers that are capable of standing on-end for storage or repairs, and for its invention of the first self-propelled rotary lawn mower.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="caroufredsel_slide1">
                                <img src="Images/3.jpg" alt="Caterpillar Tractor">
                                <div class="txt1">
                                    Caterpillar is a leading manufacturer of construction and mining equipment, diesel and natural gas engines, industrial gas turbines and diesel-electric locomotives
                                </div>
                                <div class="txt2">
                                    Caterpillar Inc. is an American corporation which designs, develops, engineers, manufactures, markets and sells machinery,
                                    engines, financial products and insurance to customers via a worldwide dealer network.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="caroufredsel_slide1">
                                <img src="Images/4.jpg" alt="John Deere Tractor">
                                <div class="txt1">
                                    Todays John Deere is one of the most recognizable brand names in the USA
                                </div>
                                <div class="txt2">
                                    You can find tractors, lawn equipment, construction machinery, toys, clothes, and more all marketed under the John Deere logo 
                                    with the distinctive yellow and green color scheme. 
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="caroufredsel_slide1">
                                <img src="Images/5.jpg" alt="LS Tractor">
                                <div class="txt1">
                                    LS currently builds tractors for Montana Tractors for sale in North America; and for sale under their own name as of 2009
                                </div>
                                <div class="txt2">
                                    LS is associated with Mitsubishi tractors of Japan for technology, and many tractors are based on Mitsubishi designs, as well as use Mitsubishi engines.
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="pagination1" id="caroufredsel_pag1"></div>
                    <a class="prev1" href="#" title="Previous"></a>
                    <a class="next1" href="#" title="Next"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shadow1">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shadow1_inner">
                    <img src="theme/EcoAgriculture/images/shadow1.png" alt="shadow image" class="img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banners">
    <div class="container">
        <div class="row">
            <div class="span4 banner banner2">
                <div class="banner_inner">
                    <a href="#" title="Equipment Parts">
                        <div class="txt1">Equipment<br>Parts</div>
                        <div class="txt2">Messicks Equipment, one of our site sponsors, has added several parts catalogs to their forward thinking website. Some of these are brand new and are availabile only at Messicks.</div>
                        <ul class="clearfix" style="list-style: none;columns: 3;-webkit-columns: 3;-moz-columns: 3;">
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/landpride')">
                                Land Pride Parts
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/befco')">
                                Befco Parts
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/alamo')">
                                Alamo Industrial
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/ferris')">
                                Ferris Parts
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/simplicity')">
                                Simplicity Parts
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/exmark')">
                                eXmark Parts
                            </li>
                            <li data-ng-click="vm.linkClick('http://www.messicks.com/vendor/cub-cadet')">
                                Cub Cadet Parts
                            </li>
                        </ul>
                        <div class="txt3">more<em></em></div>
                    </a>
                </div>
            </div>
            <div class="span4 banner banner1">
                <div class="banner_inner">
                    <a href="#" title="NH Build & Price">
                        <div class="txt1">NH Build<br>& Price</div>
                        <div class="txt2">
                            New Holland has partnered with Iron Solutions for a new build and price tool available on NewHolland.com. Select your model and options for a quick list price or forward the quote to the dealer network for a discounted sale price.
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="txt3">more<em></em></div>
                    </a>
                </div>
            </div>
            <!--<div class="span4 banner banner3">
                <div class="banner_inner">
                    <a href="#">
                        <div class="txt1">BEST FOOD<br>IS NATURAL FOOD</div>
                        <div class="txt2">Proin rutrum. Donec non urna non leo aliquam cursus.</div>
                        <div class="txt3">more<em></em></div>
                    </a>
                </div>
            </div>-->
            <div class="span4 banner banner4">
                <div class="banner_inner">
                    <a href="#" title="Just Updated">
                        <div class="txt1">Just<br>Updated</div>
                        <div class="">
                            <ul class="clearfix" style="list-style: none;columns: 2;-webkit-columns: 2;-moz-columns: 2;">
                                <li data-ng-repeat="model in vm.models" data-ng-click="vm.modelClick(model)">
                                    <div class="testimonial1">
                                        <div>
                                            {{ model.modelNumber }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="txt3">more<em></em></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="content">
    <div class="container">
        <div class="row">
            <div class="span9">

                <h1>Welcome to Tractor Specs</h1>

                <p>
                    <strong>
                        Tractor Specs is a collection of specifications, prictures, resources and pricing information on tractors and equipment. We collect data on agricultural, construction, landscape machines are their implements from all brands.
                    </strong>
                </p>

                <div class="thumb1 last">
                    <div class="thumbnail clearfix">
                        <figure class="img-polaroid"><img src="Images/img_pro_43.jpg" alt="New Holland Tractor"></figure>
                        <div class="caption">
                            <p>
                                We're a community resource. The information on our pages is largly user submited. You can help make the site more useful by submitting what you know about specifications and pricing. Today we have {{ vm.modelsCount | number }} models and {{ vm.specificationsCount | number }} datapoints.
                            </p>
                            <a href="/About" class="button2" title="About">read more about us</a>
                        </div>
                    </div>
                </div>



            </div>

            <div class="span3">

                <div class="box1">
                    <div class="caroufredsel_slider">
                        <div class="txt1">Manufacturers</div>
                        <a class="prev_testimonial" href="#" title="Previous"></a>
                        <a class="next_testimonial" href="#" title="Next"></a>
                        <ul class="clearfix">
                            <li data-ng-repeat="make in vm.makes | orderBy : '-models.length' | limitTo:7">
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.makeClick(make.mfgURL)" title="Manufacturer">
                                        <div class="txt2">{{ make.mfgName }}<span> ({{ make.models.length }})</span></div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <!--<ul id="caroufredsel" class="clearfix">
                    <li>
                        <div class="testimonial1">
                            <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="txt2">- Mike Smith, <span>CEO Company</span></div>
                        </div>

                    </li>
                    <li>
                        <div class="testimonial1">
                            <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="txt2">- Olga Guz, <span>CEO Company</span></div>
                        </div>

                    </li>
                    <li>
                        <div class="testimonial1">
                            <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                            <div class="txt2">- Ann Parker, <span>CEO Company</span></div>
                        </div>

                    </li>
                </ul>-->
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">

            <div class="span3">

                <div class="box1">
                    <div class="caroufredsel_slider">
                        <div class="txt1">Tractors</div>
                        <a class="prev_testimonial" href="#" title="Previous"></a>
                        <a class="next_testimonial" href="#" title="Next"></a>
                        <ul class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('FarmTractors')" title="Farm Tractors">
                                        <div class="txt2">Farm Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('LawnTractors')" title="Lawn Tractors">
                                        <div class="txt2">Lawn Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Industrial')" title="Industrial">
                                        <div class="txt2">Industrial Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('TrackTractors')" title="Track Tractors">
                                        <div class="txt2">Tracked Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Vintage')" title="Vintage">
                                        <div class="txt2">Vintage Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('CompactTractors')" title="Compact Tractors">
                                        <div class="txt2">Compact Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Combines')" title="Combines">
                                        <div class="txt2">Combines</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Forage Harvesters')" title="Forage Harvesters">
                                        <div class="txt2">Forage Harvesters</div>
                                    </a>
                                </div>
                            </li>
                           &nbsp;

                        </ul>
                        <!--<ul id="caroufredsel" class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Mike Smith, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Olga Guz, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Ann Parker, <span>CEO Company</span></div>
                                </div>

                            </li>
                        </ul>-->
                    </div>
                </div>





            </div>

            <div class="span3">

                <div class="box1">
                    <div class="caroufredsel_slider">
                        <div class="txt1">Implements</div>
                        <a class="prev_testimonial" href="#" title="Previous"></a>
                        <a class="next_testimonial" href="#" title="Next"></a>
                        <ul class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('RoundBaler')" title="Round Baler">
                                        <div class="txt2">Round Baler</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('SquareBaler')" title="Square Baler">
                                        <div class="txt2">Square Baler</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('BigBaler')" title="Big Baler">
                                        <div class="txt2">Large Square Baler</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('DiscMowers')" title="Disc Mowers">
                                        <div class="txt2">Disc Mowers</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('MowerConditioners')" title="Mower Conditioners">
                                        <div class="txt2">Mower Conditions</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('HayRakes')" title="Hay Rakes">
                                        <div class="txt2">Hay Rakes</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('SickleBars')" title="Sickle Bars">
                                        <div class="txt2">Sickle Bars</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('HayTedders')" title="Hay Tedders">
                                        <div class="txt2">Hay Tedders</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Blowers')" title="Blowers">
                                        <div class="txt2">Forage Blowers</div>
                                    </a>
                                </div>
                            </li>

                        </ul>
                        <!--<ul id="caroufredsel" class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Mike Smith, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Olga Guz, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Ann Parker, <span>CEO Company</span></div>
                                </div>

                            </li>
                        </ul>-->
                    </div>
                </div>





            </div>

            <div class="span3">

                <div class="box1">
                    <div class="caroufredsel_slider">
                        <div class="txt1">Lawn</div>
                        <a class="prev_testimonial" href="#" title="Previous"></a>
                        <a class="next_testimonial" href="#" title="Next"></a>
                        <ul class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('LawnTractors')" title="Lawn Tractors">
                                        <div class="txt2">Lawn Tractors</div>
                                    </a>
                                </div>
                            </li>
                            <!--<li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('GardenTractors')">
                                        <div class="txt2">Garden Tractors</div>
                                    </a>
                                </div>
                            </li>-->
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('WalkBehindSnowBlowers')" title="Walk Behind Snow Blowers">
                                        <div class="txt2">Snow Blowers</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('UtilityVehicles')" title="Utility Vehicles">
                                        <div class="txt2">Utility Vehicles</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('ATVs')" title="ATVs">
                                        <div class="txt2">ATV's</div>
                                    </a>
                                </div>
                            </li>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            
                        </ul>
                        <!--<ul id="caroufredsel" class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Mike Smith, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Olga Guz, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Ann Parker, <span>CEO Company</span></div>
                                </div>

                            </li>
                        </ul>-->
                    </div>
                </div>





            </div>

            <div class="span3">

                <div class="box1">
                    <div class="caroufredsel_slider">
                        <div class="txt1">Construction</div>
                        <a class="prev_testimonial" href="#" title="Previous"></a>
                        <a class="next_testimonial" href="#" title="Next"></a>
                        <ul class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('SkidLoaders')" title="Skid Loaders">
                                        <div class="txt2">Skid Loaders</div>
                                    </a>
                                </div>
                            </li>                           
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('TrackLoaders')" title="Track Loaders">
                                        <div class="txt2">Track Loaders</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('BackhoeAttachments')" title="Backhoe Attachments">
                                        <div class="txt2">Backhoes</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('WheelLoaders')" title="Wheel Loaders">
                                        <div class="txt2">Wheel Loaders</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('Telehandlers')" title="Telehandlers">
                                        <div class="txt2">Telehandlers</div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('MiniExcavators')" title="MiniExcavators">
                                        <div class="txt2">Mini Excavators</div>
                                    </a>
                                </div>
                            </li>
                            <!--<li>
                                <div class="testimonial1">
                                    <a href="" data-ng-click="vm.equipmentClassClick('crawler')" title="Crawler">
                                        <div class="txt2">Crawler</div>
                                    </a>
                                </div>
                            </li>-->
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        </ul>
                        <!--<ul id="caroufredsel" class="clearfix">
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Mike Smith, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Olga Guz, <span>CEO Company</span></div>
                                </div>

                            </li>
                            <li>
                                <div class="testimonial1">
                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                                    <div class="txt2">- Ann Parker, <span>CEO Company</span></div>
                                </div>

                            </li>
                        </ul>-->
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>

<!--<div id="slider3_wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="slider3">
                    <div class="slider3-title">Popular Product</div>
                    <a class="prev3" href="#"></a>
                    <a class="next3" href="#"></a>
                    <div class="carousel-box row">
                        <div class="inner span12">
                            <div class="carousel main">
                                <ul>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel01.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel02.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel03.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel04.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel05.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel06.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="thumb-carousel banner1">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="theme/EcoAgriculture/images/carousel07.jpg" alt="">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur.</div>
                                                    <a href="#" class="button1">more<em></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->