<div id="content">
    <div class="breadcrumbs1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="breadcrumbs1_inner"><a href="/home" title="Home">home page</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;manufacturer</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span9">

                <h1>{{ vm.make.mfgName }} {{ vm.models[0].equipmentClass.className }}</h1>

                <h3><!--Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit.--></h3>

                <div class="thumb1">
                    <div class="thumbnail clearfix">
                        <figure class="img-polaroid"><img src="theme/TractorSpecs_Original/images/{{ vm.make.mfgLogoImg }}" alt="{{ vm.make.modelNumber }}"></figure>
                        <div class="caption">
                            <p>
                                {{ vm.make.mfgDesc }}
                            </p>
                        </div>
                    </div>
                </div>


                <h2>MODELS</h2>

                <div class="row">
                        <div data-ng-repeat="model in vm.models">
                            <div class="span3">
                                <div class="thumb2">
                                    <div class="thumbnail clearfix">
                                        <a href="" data-ng-click="vm.modelClick(model.modelUrl)" title="{{ model.modelNumber }}">
                                            <figure><img src="theme/EcoAgriculture/images/about06.png" alt="Binoculars"></figure>
                                            <div class="caption">
                                                <div class="txt1">{{ model.modelNumber.trim() }}</div>
                                                <!--<div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>-->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="span4 offset1">
            <div class="thumb2">
                <div class="thumbnail clearfix">
                    <a href="#">
                        <figure><img src="theme/EcoAgriculture/images/about03.png" alt=""></figure>
                        <div class="caption">
                            <div class="txt1">OUR TECHNOLOGIES</div>
                            <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>-->
                    </div>

                <!--<div class="row">
                    <div class="span4">
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <a href="#">
                                    <figure><img src="theme/EcoAgriculture/images/about04.png" alt=""></figure>
                                    <div class="caption">
                                        <div class="txt1">PREMIUM PRODUCTS</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <a href="#">
                                    <figure><img src="theme/EcoAgriculture/images/about05.png" alt=""></figure>
                                    <div class="caption">
                                        <div class="txt1">PARTNERSHIP</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <a href="#">
                                    <figure><img src="theme/EcoAgriculture/images/about06.png" alt=""></figure>
                                    <div class="caption">
                                        <div class="txt1">RESEARCH</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span4 offset1">
                        <div class="thumb2">
                            <div class="thumbnail clearfix">
                                <a href="#">
                                    <figure><img src="theme/EcoAgriculture/images/about07.png" alt=""></figure>
                                    <div class="caption">
                                        <div class="txt1">MARKET</div>
                                        <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>-->



            </div>
            <div class="span3">
                <h2>{{ vm.make.mfgName }} Equip Types </h2>

                <p data-ng-repeat="equipmentClass in vm.equipmentClasses">
                    <a href="/mfg/{{ vm.mfgURL }}/{{ equipmentClass.classURL }}" title="{{ vm.make.mfgName }} {{ equipmentClass.className }}">{{ equipmentClass.className }}</a>
                </p>
                <p><a href="/categories" class="button2" title="Categories">Read More</a></p>
                <br>

                <h2>What is TractorSpecs.com?</h2>

                <p>
                    Our website is a collection of information about farm and construction equipment. Primarily tractors, but we encompass a bit of everything. Our goal is to collect specification data, pictures, prices and any documents for each machine.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>
                <br>

                <h2>Where does the information come from?</h2>

                <p>
                    Nothing you find on our website is unique, we're simply an agragation of owner reports, manuals, print, and product bochures. Some of what you'll find here has been collected by our staff, other data has been submited by equipment owners and enthusists. We do not promise 100% accuracy, however we do our best.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>
                <br>

                <h2>Can we use your data?</h2>

                <p>
                    We offer an web service for used equipment websites and dealers wishing to utilize our database to enhance their equipment listings. Contact us for details on this service.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>

            </div>
        </div>
    </div>
</div>

<div class="shadow1">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shadow1_inner">
                    <img src="theme/EcoAgriculture/images/shadow1.png" alt="shadow image" class="img">
                </div>
            </div>
        </div>
    </div>
</div>