<div id="content">
    <div class="breadcrumbs1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="breadcrumbs1_inner">
                        <a href="/home" title="Home">home page</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;
                        <a href="/allmakes" title="All Manufacturers">manufacturers</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;
                        <a href="/mfg/{{ vm.model.make.mfgURL }}" title="{{ vm.model.make.mfgName }}">{{ vm.model.make.mfgName }}</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;
                        <a href="/specs/{{ vm.model.make.mfgURL }}/{{ vm.model.modelUrl }}" title="{{ vm.model.modelNumber }}">{{ vm.model.modelNumber }}</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;
                        Edit Listing for {{ vm.model.make.mfgName }} {{ vm.model.modelNumber }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">

                <h1>Edit Listing for <a href="/mfg/{{ vm.model.make.mfgURL }}" title="{{ vm.model.make.mfgName }}">{{ vm.model.make.mfgName }}</a> {{ vm.model.modelNumber }}</h1>

                <div id="note"></div>
                <div id="fields">
                    <form id="ajax-contact-form" class="form-horizontal" action="javascript:alert('success!');">
                        <h2>Write a Review</h2>
                        <div class="row">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Your full name:</label>
                                    <div class="controls">
                                        <input class="span4" 
                                               type="text" 
                                               id="inputName" 
                                               name="name" 
                                               placeholder="Your full name:"
                                               data-ng-model="vm.review.reviewName">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Your email:</label>
                                    <div class="controls">
                                        <input class="span4" 
                                               type="text" 
                                               id="inputEmail" 
                                               name="email" 
                                               value="Your email:" 
                                               placeholder="Your email:"
                                               data-ng-model="vm.review.email">
                                    </div>
                                </div>
                            </div>
                            <!--<div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputPhone">Phone number:</label>
                                    <div class="controls">
                                        <input class="span4" type="text" id="inputPhone" name="phone" value="Phone number:" onblur="if(this.value=='') this.value='Phone number:'" onfocus="if(this.value =='Phone number:' ) this.value=''">
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="span4">
                                <h3 style="display: -webkit-inline-box;" value="Rating">Rating</h3>
                                <input type="radio" value="1" data-ng-model="vm.review.reviewScore">
                                <label class="no-block-label" for="ctl00_ContentPlaceHolderLeft_RadioButtonList1_0">1</label>
                                <input type="radio" value="2" data-ng-model="vm.review.reviewScore">
                                <label class="no-block-label" for="ctl00_ContentPlaceHolderLeft_RadioButtonList1_1">2</label>
                                <input type="radio" value="3" data-ng-model="vm.review.reviewScore">
                                <label class="no-block-label" for="ctl00_ContentPlaceHolderLeft_RadioButtonList1_2">3</label>
                                <input type="radio" value="4" data-ng-model="vm.review.reviewScore">
                                <label class="no-block-label" for="ctl00_ContentPlaceHolderLeft_RadioButtonList1_3">4</label>
                                <input type="radio" value="5" data-ng-model="vm.review.reviewScore">
                                <label class="no-block-label" for="ctl00_ContentPlaceHolderLeft_RadioButtonList1_4">5</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="control-group">
                                    <label class="control-label" for="inputMessage">Review Text:</label>
                                    <div class="controls">
                                        <textarea class="span12" id="inputMessage" name="content" data-ng-model="vm.review.reviewText"
                                                  placeholder="Review Text:">Review Text:</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="control-group">
                                    <button type="submit" class="submit" data-ng-click="vm.addReview(vm.review)">Submit</button>
                                </div>
                            </div>
                        </div>
                        <h2>Upload Pictures</h2>
                        <div class="row">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Select the file:</label>
                                    <div class="controls">
                                        <input class="span4" type="file" id="inputName" name="name" value="Your full name:" onblur="if(this.value=='') this.value='Your full name:'" onfocus="if(this.value =='Your full name:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Description:</label>
                                    <div class="controls">
                                        <input class="span4" type="text" id="inputEmail" name="email" value="Description:" onblur="if(this.value=='') this.value='Your email:'" onfocus="if(this.value =='Your email:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <div class="control-group">
                                    <button type="submit" class="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                        <h2>Add a Link</h2>
                        <div class="row">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Enter URL (http://):</label>
                                    <div class="controls">
                                        <input class="span4" type="text" id="inputName" name="name" value="Enter URL (http://):" onblur="if(this.value=='') this.value='Your full name:'" onfocus="if(this.value =='Your full name:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Enter Description:</label>
                                    <div class="controls">
                                        <input class="span4" type="text" id="inputEmail" name="email" value="Enter Description:" onblur="if(this.value=='') this.value='Your email:'" onfocus="if(this.value =='Your email:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>Add Pricing</h2>
                        <div class="row">
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Dealer/Pricing:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputName" name="name" value="Dealer/Pricing:" onblur="if(this.value=='') this.value='Your full name:'" onfocus="if(this.value =='Your full name:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Price:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputEmail" name="email" value="Price:" onblur="if(this.value=='') this.value='Your email:'" onfocus="if(this.value =='Your email:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputPhone">Model Year:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputPhone" name="phone" value="Model Year:" onblur="if(this.value=='') this.value='Phone number:'" onfocus="if(this.value =='Phone number:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="control-group">
                                    <label class="control-label" for="inputPhone">Notes:</label>
                                    <div class="controls">
                                        <input class="span3" type="text" id="inputPhone" name="phone" value="Notes:" onblur="if(this.value=='') this.value='Phone number:'" onfocus="if(this.value =='Phone number:' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>Edit Specs</h2>
                        <div class="row">
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Your full name:</label>
                                    <div class="controls">
                                        <select data-ng-options="specClass as specClass.className for specClass in vm.specClasses track by specClass.specClassID" data-ng-model="vm.selectedSpecClass"></select>
                                        <!--{{ vm.selectedSpecClass }}-->
                                    </div>
                                </div>
                            <!--</div>
                            <div class="span4">-->
                                <div class="thumb3">
                                    <div class="thumbnail clearfix">
                                        <!--<figure class="img-polaroid">
                                        <img src="theme/TractorSpecs_original/images/{{ vm.selectedSpecClass.icon }}" alt="">
                                        </figure>-->
                                        <div class="caption">
                                            <!--<h3>{{ vm.selectedSpecClass.className }}</h3>-->
                                            <div data-ng-repeat="specification in vm.model.specifications | filter:{ specName: { specClassId: vm.selectedSpecClass.specClassID }}">
                                                <h3>
                                                    <!--{{ specification.specificationId }}-->
                                                    {{ specification.specName.displayName }}: <input class="span4" type="text" data-ng-model="specification.specValue" />
                                                </h3>
                                            </div>
                                            <!--<p><a href="#" class="button2">Read More</a></p>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Source(website, book, etc):</label>
                                    <div class="controls">
                                        <input class="span4" type="text" id="inputEmail" name="email" value="Source(website, book, etc):" onblur="if(this.value=='') this.value='Your email:'" onfocus="if(this.value =='Source(website, book, etc):' ) this.value=''">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="submit">Submit</button>
                    </form>
                </div>



            </div>
        </div>
    </div>
</div>

<div class="shadow1">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shadow1_inner">
                    <img src="theme/EcoAgriculture/images/shadow1.png" alt="shadow" class="img">
                </div>
            </div>
        </div>
    </div>
</div>