<div id="content">
    <div class="breadcrumbs1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="breadcrumbs1_inner"><a href="/home" title="Home">home page</a>&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;manufacturers</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span9">

                <h1>Manufacturers</h1>

                <h3>All Companies Represented On TractorSpecs.</h3>

                <div class="thumb1">
                    <div class="thumbnail clearfix">
                        <figure class="img-polaroid"><img src="Images/img_pro_43.jpg" alt="New Holland Tractor"></figure>
                        <div class="caption">
                            <p>
                            </p>
                        </div>
                    </div>
                </div>


                <h2>Brands</h2>

                <div class="row">
                    <div class="span4"  data-ng-if="vm.makes.length === 0">
                        <h3>
                            No manufacturers have been found.
                        </h3>
                    </div>
                    <div data-ng-repeat="make in vm.makes">
                        <div class="span3">
                            <div class="thumb2">
                                <div class="thumbnail clearfix">
                                    <a href="" data-ng-click="vm.makeClick(make.mfgURL)" title="{{ make.mfgName }}">
                                        <figure><img style="width: 38px" src="theme/TractorSpecs_Original/images/{{ make.mfgLogoImg }}" alt="{{ make.mfgName }}"></figure>
                                        <div class="caption">
                                            <div class="txt1">{{ make.mfgName }}</div>
                                            <!--<div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>-->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2>MODELS</h2>

                <div class="row">
                    <div class="span4" data-ng-if="vm.models.length === 0">
                        <h3>
                            No models have been found.
                        </h3>
                    </div>
                    <div data-ng-repeat="model in vm.models">
                        <div class="span3">
                            <div class="thumb2">
                                <div class="thumbnail clearfix">
                                    <a href="" data-ng-click="vm.modelClick(model)" title="{{ model.modelNumber }}">
                                        <figure><img src="theme/EcoAgriculture/images/about06.png" alt="Binoculars"></figure>
                                        <div class="caption">
                                            <div class="txt1">{{ model.make.mfgName }} {{ model.modelNumber }}</div>
                                            <!--<div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</div>-->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="span3">

                <h2>What is TractorSpecs.com?</h2>

                <p>
                    Our website is a collection of information about farm and construction equipment. Primarily tractors, but we encompass a bit of everything. Our goal is to collect specification data, pictures, prices and any documents for each machine.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>
                <br>

                <h2>Where does the information come from?</h2>

                <p>
                    Nothing you find on our website is unique, we're simply an agragation of owner reports, manuals, print, and product bochures. Some of what you'll find here has been collected by our staff, other data has been submited by equipment owners and enthusists. We do not promise 100% accuracy, however we do our best.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>
                <br>

                <h2>Can we use your data?</h2>

                <p>
                    We offer an web service for used equipment websites and dealers wishing to utilize our database to enhance their equipment listings. Contact us for details on this service.
                </p>
                <p><a href="/about" class="button2" title="About">Read More</a></p>

            </div>
        </div>

    </div>
</div>
<div class="shadow1">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shadow1_inner">
                    <img src="theme/EcoAgriculture/images/shadow1.png" alt="Shadow" class="img">
                </div>
            </div>
        </div>
    </div>
</div>